<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.InventoryMapper">
	<select id="selectInventoryInfoList" resultType="java.util.Map" parameterType="com.gd.sakila.vo.PageParam">
		SELECT 
			i.film_id filmId,
			f.title title, 
			i.store_id storeId, 
			COUNT(*) cnt 
		FROM inventory i LEFT JOIN film f ON i.film_id = f.film_id
		<where>
			<if test="searchWord != null">
				title like CONCAT('%',#{searchWord},'%')
			</if>
		</where> 
		GROUP BY i.film_id, i.store_id
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectInventoryOne" resultType="java.util.Map" parameterType="int">
		SELECT 
			i.store_id storeId,
			i.inventory_id inventoryId,
			r.return_date returnDate,
			r.rental_date rentalDate 
		FROM inventory i JOIN (SELECT i.inventory_id inventoryId, MAX(r.rental_date) rental_date FROM inventory i LEFT JOIN rental r ON i.inventory_id = r.inventory_id GROUP BY i.inventory_id) t
									ON i.inventory_id = t.inventoryId 
						LEFT JOIN rental r ON r.rental_date = t.rental_date AND r.inventory_id = t.inventoryId
		WHERE i.film_id = #{filmId}

	</select>
	
	<select id="selectInventoryTotal" resultType="int" parameterType="String">
		SELECT 
			COUNT(*) 
		FROM (SELECT 
				i.film_id filmId,
				f.title title, 
				i.store_id storeId, 
				COUNT(*) cnt 
			  FROM inventory i LEFT JOIN film f ON i.film_id = f.film_id
			  GROUP BY i.film_id, i.store_id) s
		<where>
			<if test="searchWord != null">
				title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<select id="selectFilmInStock" parameterType="java.util.Map" resultType="int" statementType="CALLABLE">
		{
			call film_in_stock(
				#{filmId},
				#{storeId},
				#{filmCount, mode=OUT, jdbcType=DECIMAL, javaType=Integer} 
			)
		}
	</select>
	
	<select id="selectStaffIdByInventory" parameterType="int" resultType="int">
		SELECT 
			s.manager_staff_id staffId
		FROM inventory i JOIN store s on i.store_id = s.store_id
		WHERE inventory_id = #{inventoryId} 
	</select>
	
	<select id="selectInventoryByFilmId" parameterType="Integer" resultType="java.util.Map">
		SELECT 
			i.store_id storeId,
			i.inventory_id inventoryId,
			r.return_date returnDate,
			r.rental_date rentalDate 
		FROM inventory i JOIN (SELECT i.inventory_id inventoryId, MAX(r.rental_date) rental_date FROM inventory i LEFT JOIN rental r ON i.inventory_id = r.inventory_id GROUP BY i.inventory_id) t
									ON i.inventory_id = t.inventoryId 
						LEFT JOIN rental r ON r.rental_date = t.rental_date AND r.inventory_id = t.inventoryId
		WHERE i.film_id = #{filmId} AND r.return_date IS NOT NULL;
	</select>
	
	<delete id="deleteInventory" parameterType="int">
		DELETE FROM inventory WHERE inventory_id = #{inventoryId}
	</delete>
	
	<insert id="insertInvetory" parameterType="com.gd.sakila.vo.Inventory">
		INSERT INTO inventory(film_id, store_id) VALUES(#{filmId}, #{storeId})
	</insert>
</mapper>