<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.RentalMapper">
	<select id="selectRentalList" parameterType="java.util.Map" resultType="com.gd.sakila.vo.Rental">
		SELECT
			r.rental_id rentalId,
			r.rental_date rentalDate,
			r.inventory_id inventoryId,
			r.return_date returnDate,
			r.staff_id staffId,
			f.title,
			f.film_id filmId,
			if(r.return_date IS NULL, if(DATEDIFF(NOW(), r.rental_date) > f.rental_duration, DATEDIFF(NOW(), r.rental_date) - f.rental_rate , 0), 0) fine
		FROM
			rental r LEFT JOIN inventory i ON r.inventory_id = i.inventory_id
					 LEFT JOIN film f ON i.film_id = f.film_id
		<where>
			<!-- <if test="searchWord != null"> board_title LIKE CONCAT('%',#{searchWord},'%') </if> -->
			AND customer_id = #{customerId}
		</where>
		ORDER BY r.return_date ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectRentalTotal" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM rental
		<where>
			<!-- <if test="searchWord != null"> board_title LIKE CONCAT('%',#{searchWord},'%') </if> -->
			AND customer_id = #{customerId}
		</where>
	</select>
	
	<insert id="insertRental" parameterType="java.util.Map">
		INSERT INTO rental(rental_date, inventory_id, customer_id, staff_id, last_update) VALUES(rental_date,#{inventoryId},#{customerId},#{staffId},NOW())
	</insert>
	
	<update id="updateRental" parameterType="int">
		UPDATE rental SET return_date = NOW() WHERE inventory_id = #{inventoryId}
	</update>
</mapper>